.brand_img{
    max-width: 100%;
    width:13rem;
    height: 10rem;
    border-style: solid;
}
.outer-card-brand{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    padding:.7rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .outer-card-brand:hover {
  box-shadow: 0 8px 16px 0 rgb(7, 7, 7);
  }
  .detail_brand{
    text-align: center;
  }
  .no_button{
    appearance: none;
      background-color: rgb(255, 255, 255);
      border: 2px solid #474747;
      border-radius: 15px;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 40px;
      min-width: 0;
      outline: none;
      margin-top: 20px;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      will-change: transform;
      align-self: end;  
  }
  .no_button:disabled {
    pointer-events: none;
  }
  
  .no_button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  .nahi_hai{
    margin-top: 2rem;
  }
  .no_button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  #loading_wala_timepass{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) no-repeat center;
  }


