.hero-container {
    background-color: #1A1A1A;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
  }
  .card {
    height: 100%;
  }
  .cssBox {
    margin: 0 1rem;
  }
  .button{

      appearance: none;
      background-color: black;
      border: 2px solid #C6BEBE;
      border-radius: 15px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 40px;
      min-width: 0;
      outline: none;
      margin-top: 20px;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 60%;
      will-change: transform;
    
    
    
}
.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

  @media only screen and (max-width: 991px) {
      .navbar-nav{
        background-color: black;
        padding: 25px;
      }
  }